[build]
  publish = "public"
  command = "hugo"
  functions = "netlify/functions"

[context.production.environment]
  HUGO_VERSION = "v0.154.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
