/* body */

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010101 !important;
    margin: 5%;
    padding: 5% 5% 5% 5%;
}

p {
    font-family: "Courier New";
    font-size: 20px;
    color: #CCCCCC;
}


h1 {
    color: #CCCCCC;
    font-family: "Courier New";
    font-weight: 100;
    font-size: 30px;
    /*margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    display: inline-block;*/
}

/* links */

a:link,
.nav-top a:link {
    /* unvisited */
    color: #94f3a6;
    text-decoration: none;
}

a:visited,
.nav-top a:visited {
    color: #217e2d;
    text-decoration: line-through;
}

a:hover,
.nav-top a:hover {
    color: #00FF34;
    text-decoration: underline;
}

a:active,
.nav-top a:active {
    /* click and hold */
    color: #95ff00;
    text-decoration: underline;
}

a.active,
.nav-top a.active {
    color: #00FF34;
    background-color: rgba(40, 40, 40, 0.7);
}


