html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010101 !important;
    margin: 5%;
    padding: 5% 5% 5% 5%;
    font-size: 100%;
}

h1 {
    font-size: clamp(1.8em, 4.5vw, 2.7em);
    color: #CCCCCC;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    position: relative;
}

p {
    font-size: clamp(1.2em, 3vw, 1.2em);
    font-family: 'Work Sans', sans-serif;
    color: #CCCCCC;
    line-height: 1.3em;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(7.5em, 18vw, 18vw);
    max-height: 200px;
    max-width: 172px;
}

a:link,
.nav-top a:link {
    /* unvisited */
    color: #94f3a6;
    text-decoration: none;
}

a:visited,
.nav-top a:visited {
    color: #217e2d;
    text-decoration: line-through;
}

a:hover,
.nav-top a:hover {
    color: #00FF34;
    text-decoration: underline;
}

a:active,
.nav-top a:active {
    /* click and hold */
    color: #95ff00;
    text-decoration: underline;
}

a.active,
.nav-top a.active {
    color: #00FF34;
    background-color: rgba(40, 40, 40, 0.7);
}