{{ define "main" }}
<p>
  london needs more organized picnics and supper clubs
  <br>
  <br>
  so I'm hosting the former during summer and the latter during winter...
</p>

<p><i class="fa-brands fa-instagram"></i> <a href="https://instagram.com/plenty.of.dish">plenty.of.dish</a>

<h1>upcoming</h1>
<ul class="supperclubs-list">
  {{ range .Pages.ByDate.Reverse }}
    {{ if .Params.active }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a> {{ .Date.Format "2 Jan 2006" }}
    </li>
    {{ end }}
  {{ end }}
</ul>

<h1>past</h1>
<ul class="supperclubs-list">
  {{ range .Pages.ByDate.Reverse }}
    {{ if not .Params.active }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a> {{ .Date.Format "2 Jan 2006" }}
    </li>
    {{ end }}
  {{ end }}
</ul>
<hr>
{{ partial "form.html" . }}

{{ end }}