{{ define "main" }}
<p>
  london needs more organized picnics and supper clubs
  <br>
  <br>
  so I'm hosting the former during summer and the latter during winter...
</p>

<p><i class="fa-brands fa-instagram"></i> <a href="https://instagram.com/plenty.of.dish">plenty.of.dish</a>

<ul class="supperclubs-list">
  {{ range .Pages.ByDate.Reverse }}
  <li>
      {{ if .Params.active }}
      <span class="badge active">🟢 future -</span>
      {{ else }}
      <span class="badge inactive">🟠 past -</span>
      {{ end }}
      {{ if eq .Params.eventtype "picnic" }}
      <span>🏕️</span>
      {{ else if eq .Params.eventtype "supperclub" }}
      <span>🍽️</span>
      {{ end }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "form.html" . }}

{{ end }}