<p>no structure. no forced fun. no intros or interesting facts. just come along, chill, eat good food and maybe connect with some interesting people.</p>

<hr>
<p>whilst not fully vegetarian, there'll be enough great veg options available and it won't be just salad!</p>

<hr>
<p>no need to bring anything, but people tend to bring their own drinks</p>

<hr>
<p>there may be more registrations than seats available. i personally know most of the people invited, and i try to curate, so, rather than first come first serve, it's vibe-based. i'll try to be fair. if you register but aren't confirmed, then you'll be priority for the next one.</p> 